body { background: #000; color: #D8B4FE; margin: 0; font-family: Arial; }
header { background: #0f0011; padding: 30px; text-align: center; box-shadow: 0 0 60px #A78BFA; }
h1 { font-size: 50px; text-shadow: 0 0 40px #D8B4FE; }
#search { width: 80%; padding: 20px; background: #0a000a; border: 5px solid #A78BFA; border-radius: 50px; color: white; font-size: 24px; }
.grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); gap: 40px; padding: 50px; }
.card { background: #0a000a; border: 5px solid #A78BFA; border-radius: 30px; overflow: hidden; box-shadow: 0 0 50px rgba(167,139,250,0.6); transition: 0.3s; }
.card:hover { transform: scale(1.05); box-shadow: 0 0 80px #A78BFA; }
.card img { width: 100%; height: 200px; object-fit: cover; }
.card iframe { width: 100%; height: 400px; border: none; }
.card p { padding: 20px; text-align: center; font-size: 22px; }
